{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quizzes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('quiz_edit', { 'quiz': quiz.id }) }}">Edit</a>
                        </li>
                        <li>
                            <a href="{{ path('quiz_delete', { 'quiz': quiz.id }) }}">Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
