{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quizzes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('quiz_edit', { 'quiz': quiz.id }) }}">Edit</a>
                        </li>
                        <li>
                            <form method="post" action="{{ path('quiz_delete', {'quiz': quiz.id}) }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz.id) }}">
                                <button class="btn">Delete</button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
